.main-div {
    /* background-color: #e7e7e7; */
    height: 100vh;
    padding: 3% 3% 0% 3%;
    max-width: initial;
}
.container-div{
    /* background-color: #e7e7e7; */
    height: 80%;
    padding: 2% 2% 2% 2%;
    /* border: 1px solid #a3c2c2; */
    width: inherit;
}
h1{
    font-family: fantasy;
    text-align: center;
    color: #262626;
}
.timer{
    text-align: right;
    font-size: small;
    font-family: none;
    padding: 0 0 2px 0;
}
.searchContainer{
    width: 100%;
}
input[type=text]{
    height: 35px;
    border: 1px solid #a3c2c2;
    box-sizing: border-box;
    padding-left: 8px;
    border-radius: 5px;
    width: calc(100% - 44px);
    color: #636363;
}
input[type=text]:focus{
    border: 1px solid #33cc33;
}
.searchBtn{
    min-width: 40px;
    height: 35px;
    outline: none;
    cursor: pointer;
    border: solid 1px #e7e7e7;
    border-radius: 5px;
}
input[type=button]:active {
    border-style: outset;
}
.news-cards{
    margin-top: 30px;
}
.news-cards-errors{
    margin-top: 5px;
    color: #ff3333;
}
.news-container{
    background-color: #fbfbfb;
    padding: 5px;
    margin-top: 5px;
    width: inherit;
    height: 70px;
    font-family: auto;
    border: solid 1px #e7f7ff;
    box-shadow: 0 5px 5px rgba(136,136,136,.8);
    cursor: pointer;
}
.img-container{
    float: left;
}
.sub-container{
    margin-left: 60px;
    min-height: 60px;
    /* font-style: italic; */
}
.title-div{
    font-weight: bold;
}
.content-div{
    /* height: auto; */
    height: 50px;
    font-style: italic;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.column {
    float: left;
    width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media only screen and (min-width: 961px) {
    /* styles for browsers larger than 960px; */

}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 960px) and (orientation:portrait) {
    .column {
        width: 50%;
    }
}
